/* .abilityScores {
  width: 5rem;
} */

/* Portrait and Landscape */
@media only screen and (max-device-width: 320px)  {
  form {
    margin: 0.7rem 0;
  }

  form label {
    width: 100%;
  }

  .input {
    margin-bottom: 0.7rem;
    width: 100%;
  }

  form button {
    width: 100%;
    margin: 0.7rem 0;
    padding: 0.3rem 0;
  }

  .abilityContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

  .abilityContainer > input {
    width: 100px;
  }

  .ability-prepend, .ability-append {
    display: flex;
    background-color: lightgray;
    padding: 2% 0;
    border: 1px solid grey;
    width: 3rem;
    text-align: center;
  }

  .ability-text {
    white-space: nowrap;
    display: flex;
    text-align: center;
  }

  .ability {
    /* width: 5rem; */
    flex: 1 1 auto;
    /* justify-self: left; */
  }
}